<h1 class="mb-3" mat-dialog-title><strong>Add new contact</strong></h1>
<mat-dialog-content class="mat-typography" id="xd">
    <form [formGroup]="newContactForm" (ngSubmit)="addContact()">
        <div class="form-group mb-3">
            <label class="mb-1" for="inputName">Name</label>
            <input type="text" class="form-control" formControlName="name" id="inputName" aria-describedby="nameHelp" placeholder="Enter name">
        </div>
        <div class="form-group mb-3">
            <label class="mb-1" for="inputLastname">Lastname</label>
            <input type="text" class="form-control" formControlName="lastname" id="inputLastname" aria-describedby="lastnameHelp" placeholder="Enter lastname">
        </div>
        <div class="form-group mb-3">
            <label class="mb-1" for="inputEmail">Email address</label>
            <input type="email" class="form-control" formControlName="email" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group mb-3">
            <label class="mb-1" for="inputName">Phone</label>
            <input type="number" class="form-control" formControlName="phone" id="inputPhone" aria-describedby="phoneHelp" placeholder="Enter phone number">
        </div>
        <div class="form-group mb-3">
            <label class="mb-1" for="inputRole">Role</label>
            <select class="form-select mb-3" (change)="changeRole($event)" id="inputRole" formControlName="role">
                <option disabled selected value="">Role</option>
                <option *ngFor="let role of Roles" [ngValue]="role">{{ role }}</option>
            </select>
        </div>
        <div *ngIf="selected != null" class="form-group mb-3">
            <div *ngIf="selected == '1: Business'">
                <label class="mb-1" for="inputSpecificRole">Specific Role</label>
                <select class="form-select mb-3" (change)="changeRole($event)" id="inputSpecificRole" formControlName="specificRole">
                    <option disabled selected value="">Role</option>
                    <option *ngFor="let role of BusinessRoles" [ngValue]="role">{{ role }}</option>
                </select>
            </div>
            <div *ngIf="selected != '1: Business'">
                <label class="mb-1" for="inputSpecificRole">Specific Role</label>
                <input type="text" class="form-control" formControlName="specificRole" id="inputSpecificRole" placeholder="Enter specific role">
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-dialog-close class="btn btn-danger md-2">Cancel</button>
    <button [disabled]="!this.newContactForm.valid" [mat-dialog-close]=this.newContactForm.value type="submit" class="btn btn-primary md-2">Add</button>
</mat-dialog-actions>