<div class="card text-white bg-dark mb-3 d-flex" style="width: 30rem; align-self: center;">
    <div class="card-body">
        <form>
            <div class="form-group mb-2">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" placeholder="Enter name">
            </div>
            <div class="form-group mb-2">
                <label for="inputSurname">Surname</label>
                <input type="text" class="form-control" id="inputSurname" placeholder="Enter surname">
            </div>
            <div class="form-group mb-2">
                <label for="inputEmail">Email</label>
                <input type="text" class="form-control" id="inputEmail" placeholder="Enter email">
            </div>
            <div class="form-group mb-2">
                <label for="inputPhone">Phone number</label>
                <input type="number" class="form-control" id="inputPhone" placeholder="Enter phone number">
            </div>
            <div class="form-group mb-2">
                <label for="inputRole">Role</label>
                <input type="text" class="form-control" id="inputRole" placeholder="Enter role">
            </div>
            <div class="form-group mb-2">
                <label for="inputSpecificRole">Specific Role</label>
                <input type="text" class="form-control" id="inputSpecificRole" placeholder="Enter specific role">
            </div>
            <div class="form-group mb-2">
                <label for="InputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <div class="form-group mb-2">
                <label for="InputPassword">Confirm Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Confirm Password">
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </form>
    </div>
</div>
