<div class="d-flex flex-column">
    <app-add-contact (ItemEvent)="addNewContact($event)" *ngIf="user != null"></app-add-contact>
    <div class="p-2">
        <table id="user-list" class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Specific Role</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contact of contacts; let id = index" (click)="viewContact(contact)">
                    <th scope="row">{{ id + 1 }}</th>
                    <td>{{ contact.name | titlecase }}</td>
                    <td>{{ contact.lastname | titlecase }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.role }}</td>
                    <td>{{ contact.specificRole }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
